body{
    background-color: #45454F;
}

#githubButton {
    color: white;
    border: white;
    background-color: #28282B;
    font-size: 12pt;
    font-family: Dejavu Sans;
    font-style: normal;
    font-variant: normal;
    margin-left: 5px;
    margin-bottom: 10px;
    position:fixed;
    bottom:0;
    left:0;
    border-radius: 7px;
    padding-left: 4px;
    padding-right: 4px;
}

#toListButton {
    color: white;
    border: white;
    background-color: #28282B;
    font-size: 12pt;
    font-family: Dejavu Sans;
    font-style: normal;
    font-variant: normal;
    margin-left: 70px;
    margin-bottom: 10px;
    position:fixed;
    bottom:0;
    left:0;
    border-radius: 7px;
    padding-left: 4px;
    padding-right: 4px;
}

#debugButton {
    color: white;
    border: white;
    background-color: #28282B;
    font-size: 12pt;
    font-family: Dejavu Sans;
    font-style: normal;
    font-variant: normal;
    margin-left: 110px;
    margin-bottom: 10px;
    position:fixed;
    bottom:0;
    left:0;
    border-radius: 7px;
    padding-left: 4px;
    padding-right: 4px;
}

img {
    border-radius: 10px;
}

/*
* {
    box-sizing: border-box;
    outline: 3px solid limegreen !important;
}
*/