body{
    background-color: aquamarine;
}

h1 {
    text-align: center;
    font-family: tahoma;
}

#githubButton {
    background-color: aqua;
    font-size: 8pt;
    font-family: verdana;
    margin-left: 5px;
    margin-bottom: 10px;
    position:fixed;
    bottom:0;
    left:0;
    border-radius: 7px;
    padding-left: 4px;
    padding-right: 4px;
 }

#toListButton {
    background-color: aqua;
    font-size: 8pt;
    font-family: verdana;
    margin-left: 104px;
    margin-bottom: 10px;
    position:fixed;
    bottom:0;
    left:0;
    border-radius: 7px;
    padding-left: 4px;
    padding-right: 4px;
}

#debugButton {
    background-color: aqua;
    font-size: 8pt;
    font-family: verdana;
    margin-left: 164px;
    margin-bottom: 10px;
    position:fixed;
    bottom:0;
    left:0;
    border-radius: 7px;
    padding-left: 4px;
    padding-right: 4px;
}

img {
    max-width:350px;
    max-height:350px;
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: center;
    color: black;
    font-size:xx-large;
    font-family: verdana;
}

#nextButDiv {
    text-align: center;
}

#nextBut {
    background-color: aqua;
    font-family: verdana;
    font-size: 14pt;
    border-radius: 7px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#picDiv {
    height: 350px;
}

#ansDiv {
    height: 75px;
}